body {
  font-family: Arial;
  margin: 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: hotpink;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.hero {
  padding: 100px 20px;
}

button {
  padding: 12px 25px;
  background: hotpink;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card button {
  margin-top: 10px;
}
