body {
  margin: 0;
  font-family: Arial;
  background: #fff5f7;
  text-align: center;
}

header {
  background: hotpink;
  padding: 20px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.hero {
  padding: 100px 20px;
}

.hero h2 {
  font-size: 40px;
  color: #222;
}

.hero p {
  font-size: 20px;
  color: #666;
}

button {
  padding: 15px 30px;
  border: none;
  background: hotpink;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
